# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.fvm/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
android/.gradle
/.gradle/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/.gradle
/android/app/profile
/android/app/release
/ios/Flutter/Flutter.podspec
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.h
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/ios/Runner/GeneratedPluginRegistrant.m
/android/local.properties
/ios/Podfile.lock
/ios/.symlinks/plugins/shared_preferences/
/android/.gradle/
/lib/generated/intl/messages_en.dart
/ios/Flutter/Generated.xcconfig
/lib/generated/l10n.dart
/lib/generated/intl/messages_all.dart
/lib/generated/
/scripts/build/build/
/ios/.symlinks/plugins/
**/ios/**/Pods/
/scripts/build/*
ios/Runner.xcarchive
/pubspec.lock
